
config BEECHAT_ELERIUM_LIB
    bool "Beechat Elerium Library"
    default n
    select EVENTS
    select CRC
    select NVS
    select FLASH
    help
        Beechat Elerium Library

if BEECHAT_ELERIUM_LIB

    config BEECHAT_ELERIUM_WALLET
        bool "Elerium Wallet"
        default n


    config BEECHAT_ELERIUM_URL_SIGN
        bool "Elerium URL Signer"
        default n

    module = ELERIUM
    module-str = elerium
    source "subsys/logging/Kconfig.template.log_config"

endif


